<form>
<table width="100%" height="100%">
<tr>
<th><img src="../assets/images/fondoregistro.jpeg"></th>
<th>


    <!-- 2 column grid layout with text inputs for the first and last names -->

   <table style="margin: 10px;">
<tr>

    <div style="text-align:center; margin-bottom: 10px;">
<img src="../assets/images/user_profile.png" alt="Avatar" class="avatar" width="200px">
    </div>
</tr> 
  
  
  <tr style="text-align:center;">
    <input type="file" id="userpic"name="photo" [(ngModel)]="photo" style="display: none;">
    <button> <label for="userpic" id="labelarchivo">Choose a photo</label></button>
  
          <input type="hidden" name="_token">
  </tr>

  
  <td>

    <div class="row mb-4" style="margin-top: 10px;">
      <div class="col">
        <div class="form-outline">
          <input type="text" id="form3Example1" class="form-control" name="name" [(ngModel)]="name"/>
          <label class="form-label" for="form3Example1" >First name</label>
        </div>
      </div>
      <div class="col">
        <div class="form-outline">
          <input type="text" id="form3Example2" class="form-control" name="lastname" [(ngModel)]="lastname"/>
          <label class="form-label" for="form3Example2" >Last name</label>
        </div>
      </div>
    </div>
  <tr>
    <th>
<div class="form-outline mb-4">
      <input class="form-control" type="text" value="" id="form2Example313" name="DNI" [(ngModel)]="DNI"/>
      <label class="form-label" for="form2Example313" >DNI</label>
    </div>

    </th>
 
  <th>
<!-- Password input -->
    <div class="form-outline mb-4" style="margin-left: 20px;">
      <input type="password" id="form3Example4" class="form-control" name="password" [(ngModel)]="password" />
      <label class="form-label" for="form3Example4">Password</label>
    </div>

  

  </th>
  
   </tr>


    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="email" id="form3Example3" class="form-control" name="email"  [(ngModel)]="email" />
      <label class="form-label" for="form3Example3">Email address</label>
    </div>
  
  
  


 <div class="form-outline mb-4">
        <input type="tel" class="form-control" name="phone" [(ngModel)]="phone" />
        <label class="form-label" for="form2Example33">Phone number</label>
      </div>

      
      <div class="form-outline mb-4">
        <label for="form21Example33" style="margin-left: 11px;" >Birthdate</label>
        <input class="form-control" type="date" name="birthdate" id="form21Example33" [(ngModel)]="birthdate"/>
      </div>

    

      <div class="form-outline mb-4" style="margin-left: 10px;">
        <input type="radio" id="form22Example33" name="genremasc" value="Masculine" [(ngModel)]="genremasc"/>
        <label for="form22Example33" style="margin-left:5px;margin-right: 5px;" >Masculine</label>
        <input type="radio" id="form23Example33" name="genrefem" value="Femenine" [(ngModel)]="genrefem"/>
        <label for="form23Example33" style="margin-left:5px">Femenine</label>
      </div>
  
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4" (click)="signup()" >Sign up</button>



  </td>

</table>
  
</th>

</tr>

</table>

  </form>
  