<form>
<table width="100%" height="100%">
<tr>
<th><img src="../assets/images/fondoregistro.jpeg"></th>
<th>


   <table style="display: block; margin-left: auto; margin-right: auto " >
<tr>

    <div style="margin-bottom: 15px; margin-left: 300px">
<img src="../assets/images/user_profile.png" alt="Avatar" class="avatar" width="250px">
    </div>
</tr> 
  
  
  <tr style="text-align:center;">
    <div style="margin-left: 300px; margin-bottom:20px">
    <input type="file" id="userpic"name="profImage" style="display: none;">
    <button> <label for="userpic" id="labelarchivo">Choose a photo</label></button>
  
          <input type="hidden" name="_token"></div>
  </tr>

  
  <td>

    <div class="row mb-4" style="margin-top: 10px;">
      <div class="col">
        <div class="form-outline">
          <input type="text" id="form3Example1" class="form-control" />
          <label class="form-label" for="form3Example1">First name</label>
        </div>
      </div>
      <div class="col">
        <div class="form-outline">
          <input type="text" id="form3Example2" class="form-control" />
          <label class="form-label" for="form3Example2">Last name</label>
        </div>
      </div>
    </div>
 
    <tr>
    <th>
<div class="form-outline mb-4">
      <input class="form-control" type="text" value="" id="form2Example33"/>
      <label class="form-label" for="form2Example33">DNI</label>
    </div>

    </th>
 
  <th>
<!-- Password input -->
    <div class="form-outline mb-4" style="margin-left: 90px;">
      <input type="password" id="form3Example4" class="form-control" />
      <label class="form-label" for="form3Example4">Password</label>
    </div>

  

  </th>
  
   </tr>


    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="email" id="form3Example3" class="form-control"  size="10 px"/>
      <label class="form-label" for="form3Example3">Email address</label>
    </div>
  
  
  


 <div class="form-outline mb-4">
        <input type="tel" class="form-control" />
        <label class="form-label" for="form2Example33">Phone number</label>
      </div>
  
 

      <div class="form-outline mb-4">
        <label for="form2Example33" style="margin-left: 11px;">Birthdate</label>
        <input class="form-control" type="date" value="" id="form2Example33"/>
      </div>

     </td>

<td>
      <div class="form-outline mb-4" style="margin-left: 10px;">
        <input type="radio" id="form2Example33" name="genre" value="Masculine" style= "margin-left: 15px;"/>
        <label for="form2Example33" style="margin-left:5px;margin-right: 5px;" >Masculine</label>
        <input type="radio" id="form2Example33" name="genre" value="Femenine"  style="margin-left: 20px;"/>
        <label for="form2Example33" style="margin-left:5px">Femenine</label>
      </div>


    


   <!-- Checkbox -->
    <div class="form-outline mb-4" style="margin-left:8px;">
      <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" style= "margin-left: 15px;" />
      <label class="form-label" for="form2Example33">
        Subscribe to our newsletter
      </label>
    </div>
  
    <!-- Submit button -->
    <button style= "margin-left: 15px;"type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>

  </td>




</table>
  
</th>

</tr>


</table>

  





   

  </form>
  