<section style="background-color: #eee;">

    <div class="s">

      <div class="row flexContainer">
        <div class="col-lg-4 imageContainer">
          <div class="card mb-4">
            <div class="card-body text-center">
              <h5 class="my-3">Ficha de cliente</h5>
            </div>
          </div>
          </div>
        </div>
        <div class="col-lg-8 infoContainer">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Nombre</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{currentClient.NAME}}  {{currentClient.LASTNAME}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{currentClient.EMAIL}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Teléfono</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{currentClient.PHONE}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">DNI</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{currentClient.DNI}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Fecha de nacimiento</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0" >{{currentClient.BIRTHDAY}}</p>
                </div>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
</section>
