.graph{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.centerPieChart{

  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.pieTitle{
  margin-left: center;
}
