<div>
  <div class="graph">
    <div class="">
      <h1 class="pieTitle">{{'ACTIVE_VS_INACTIVE' | oTranslate }}</h1>
      <o-chart type="donutChart" service="clients" entity="activesVsInactives" x-axis="status" y-axis="count"
        [chart-parameters]="donutChartParameters" chart-height="300"></o-chart>
    </div>
  </div>
  <div class="graph">
    <div class="center">
      <h1>{{'MONTH_INCOME' | oTranslate }}</h1>
      <o-chart x-axis="shipping_month" y-axis="total_incomes" type="multiBar" x-label="Shipping Month" y-label="Amount (€)" service="clients" entity="monthIncome"
       [chart-parameters]="incomeMultiBarChartParameters"></o-chart>
    </div>
    <div class="center">
      <h1>{{'MONTH_CLIENTS' | oTranslate }}</h1>
      <o-chart type="multiBar" x-label="months" y-label="inscriptions" service="clients" entity="monthInscriptions"
        x-axis="month" y-axis="total_inscriptions" [chart-parameters]="inscriptionMultiBarChartParameters"></o-chart>
    </div>
  </div>
</div>
