<style>
  p{
    font-weight: bolder;
    color: white;
    font-size: large;
    padding-top: 5px;
  }
  </style>

  <header>
    <!-- Intro settings -->
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: black;">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
          aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarExample01">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item active">
              <a class="nav-link" aria-current="page"  [routerLink]="['/main/home']"> <img src="../assets/images/logoGYMBlanco.png" height="40" width="40" /></a>
            </li>
            <!--
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/main/profile']"><p>Profile</p></a>
            </li>
            -->
          </ul>
          <ul class="navbar-nav navbar-right">
            <li class="nav-item" >
              <a class="nav-link" [routerLink]="['/main/login']" *ngIf="!isLoggedIn()"><p>Login</p></a>
            </li>
          </ul>
        </div>
        <div class="o-user-info-container colorW" *ngIf="isLoggedIn()">
          <ng-container>
            <div class="o-user-info-wrapper" fxLayout="row" fxLayoutAlign="center center" [matMenuTriggerFor]="menu"
              fxLayoutGap="16px">
              <span class="o-user-info-username textB">Perfil</span>
              <mat-icon svgIcon="ontimize:keyboard_arrow_down"></mat-icon>
            </div>
            <mat-menu #menu="matMenu" yPosition="below" class="o-mat-menu">
              <button type="button" mat-menu-item (click)="logout()">
                <mat-icon>person</mat-icon>
                <span> Mi Perfil</span>
              </button>
              <button type="button" mat-menu-item (click)="calendar()">
                <mat-icon>perm_contact_calendar</mat-icon>
                <span>Calendario</span>
              </button>
              <button type="button" mat-menu-item (click)="logout()">
                <mat-icon svgIcon="ontimize:power_settings_new"></mat-icon>
                <span>{{ 'LOGOUT' | oTranslate }}</span>
              </button>
            </mat-menu>
          </ng-container>
        </div>
      </div>
    </nav>
    <!-- Navbar -->
  </header>

<!--
  <o-bar-menu title="APP_TITLE">
    <o-bar-menu-group title="OPTIONS">
      <o-bar-menu-group title="LANGUAGE">
        <o-locale-bar-menu-item locale="en" title="English"></o-locale-bar-menu-item>
        <o-locale-bar-menu-item locale="es" title="Español"></o-locale-bar-menu-item>
      </o-bar-menu-group>
      <o-bar-menu-separator></o-bar-menu-separator>
      <o-bar-menu-item title="LOGOUT" icon="power_settings_new" route="/main/login" confirm="MESSAGES.CONFIRM_LOGOUT"></o-bar-menu-item>
    </o-bar-menu-group>
  </o-bar-menu>
-->

  <router-outlet>

  </router-outlet>
