<o-form service="rooms" entity="room" keys="id" header-actions="R;I;U;D" show-header-navigation="no">
    <o-text-input attr="id" sql-type="INTEGER" enabled="no"></o-text-input>
    <o-row>
      <o-column title-label="ROOM_INFORMATION" fxFlex>
        <o-row>
          <o-text-input class="input-padding" attr="name" title="NAME" fxFlex="40" required="yes"></o-text-input>
        </o-row>
        <o-row>
            <o-text-input class="input-padding" attr="description" title="DESCRIPTION" fxFlex required="yes"></o-text-input>
        </o-row>
      </o-column>
    </o-row>
  </o-form>
