<o-form service="clientsClasses" entity="clientClass" keys="id_client_class" header-actions="R;I;U;D" show-header-navigation="no">
    <o-text-input attr="id_client_class" sql-type="INTEGER" enabled="no"></o-text-input>
    <o-row>
        <o-column title-label="CLIENT_CLASS_INFORMATION" fxFlex>
            <o-row>
                <o-integer-input class="input-padding" attr="id_assing_room" fxFlex="40" required="yes"></o-integer-input>
                <o-integer-input class="input-padding" attr="id_client" fxFlex="40" required="yes"></o-integer-input>
            </o-row>
        </o-column>
    </o-row>
</o-form>
