<o-form-layout-manager title="{{ 'room_class' | oTranslate }}" separator=" " mode="tab" label-columns="id_room_class">
    <div fxFill>
      <o-table fxFlex attr="roomClassTable" service="roomsClasses" entity="roomClass" keys="id_room_class"
        insert-button="yes" refresh-button="yes" delete-button="yes" query-rows="20"
        columns="id_class;id_room;date;h_start;h_end;class_name;class_description;room_name;room_description"
        visible-columns="date;class_name;room_name;h_start;h_end" query-rows="20">
        <o-table-column attr="id_class" width="100px" content-align="center"></o-table-column>
        <o-table-column attr="id_room" width="100px" content-align="center"></o-table-column>
        <o-table-column attr="date" width="300px" type="date" content-align="center"></o-table-column>
        <o-table-column attr="h_start" width="200px" type="time" content-align="center"></o-table-column>
        <o-table-column attr="h_end" width="200px" type="time" content-align="center"></o-table-column>
      </o-table>
    </div>
  </o-form-layout-manager>

