@import 'node_modules/@angular/material/theming';

// Include non-theme styles for core.
@include mat-core();

/* Color definitions */
$mat-custom-primary: ( 50 : #e7e7e7,
100 : #c3c3c3,
200 : #9c9c9c,
300 : #747474,
400 : #565656,
500 : #383838,
600 : #323232,
700 : #2b2b2b,
800 : #242424,
900 : #171717,
A100 : #ef7171,
A200 : #ea4343,
A400 : #fa0000,
A700 : #e00000,
contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
) );

$mat-custom-accent: ( 50 : #f9e0e7,
100 : #efb3c2,
200 : #e5809a,
300 : #da4d71,
400 : #d22652,
500 : #ca0034,
600 : #c5002f,
700 : #bd0027,
800 : #b70021,
900 : #ab0015,
A100 : #ffd4d7,
A200 : #ffa1a7,
A400 : #ff6e77,
A700 : #ff5560,
contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
));

// Define a theme.
$primary: mat-palette($mat-custom-primary);
$accent: mat-palette($mat-custom-accent);
$background-color: #eceff1;

/* Light theme */
$theme: mat-light-theme($primary, $accent);

// Insert custom background color
$background: map-get($theme, background);
$background: map_merge($background, (background: $background-color));

$theme: map_merge($theme, (background: $background));
/* Dark theme */
$primary-dark: mat-palette($mat-custom-primary);
$accent-dark: mat-palette($mat-custom-accent);
$dark-theme: mat-dark-theme($primary-dark, $accent-dark);


