<o-form fxFill #form service="clients" entity="client" keys="id" header-actions="R;I;U;D" show-header-navigation="no">
  <!-- User ID -->
  <o-text-input attr="id" label="id_client" sql-type="INTEGER" enabled="no"></o-text-input>

  <!-- Details -->
  <o-row fxFlex>
    <o-column class="columPhoto">
      <o-image class="clientPhoto" id="CUSTOMER_PHOTO" attr="photo" empty-image="assets/images/no-image.png"></o-image>
    </o-column>
    <o-column fxFlex layout-padding>
      <o-row layout-gap="15px">
        <o-text-input class="input-padding" attr="name" title="NAME" fxFlex="46.8" required="yes"></o-text-input>
        <o-text-input class="input-padding" attr="lastname" title="LASTNAME" fxFlex="46.8" required="yes">
        </o-text-input>
      </o-row>
      <o-row layout-gap="15px">
        <o-nif-input #nif attr="dni" title="DNI" fxFlex="46.8" required="yes"></o-nif-input>
        <o-text-input class="input-padding" attr="phone" title="PHONE" fxFlex="46.8" required="yes"></o-text-input>
      </o-row>
      <o-row layout-gap="15px">
        <o-email-input attr="email" title="EMAIL" fxFlex="95" required="yes"></o-email-input>
      </o-row>
      <o-row layout-gap="15px">
        <o-combo attr="gender" label="gender" [static-data]="genderArray" value-column="genderCode"
          columns="genderCode;genderText" visible-columns="genderText" required="yes" fxFlex="46.8" translate="yes"
          null-selection="no">
        </o-combo>
        <o-date-input class="input-padding, birthdayDate" attr="birthday" title="BIRTHDAY" fxFlex="46.8" required="yes">
        </o-date-input>
      </o-row>
      <o-row layout-gap="15px">
        <o-date-input class="input-padding" attr="registration_date" title="REGISTRATION_DATE" fxFlex="46.8"
          read-only="yes">
          required="yes"></o-date-input>
        <o-checkbox attr="active" title="ACTIVE" fxFlex="46.8" read-only="yes"></o-checkbox>
      </o-row>
    </o-column>
  </o-row>

  <!-- Subscription -->
  <o-row class="colapsiblesStyles">
    <o-column-collapsible fxFlex="95" title="{{ 'Manage subscription' | oTranslate }}" appearance="outline">
      <o-row layout-gap="15px">
        <o-combo #comboClass fxFlex="25" label="comboSubMonth" attr="id_subscription" value-column="id"
          query-method="query" service="subscriptions" entity="subscription" columns="sub_months;price"
          visible-columns="sub_months;price" keys="id">
          <app-clients-sub-render></app-clients-sub-render>
        </o-combo>
        <o-date-input class="input-padding subExpirationDate" attr="sub_expiration_date" title="SUB_EXPERITAION_DATE"
          fxFlex="25" enabled="no"></o-date-input>
        <!--<o-button class="subcribeButton" label="Subscribe" fxFlex="25"></o-button>-->
        <!--<o-button class="unsubscribeButton" label="Unsubscribe" fxFlex="25"></o-button>-->
      </o-row>
    </o-column-collapsible>
  </o-row>

  <!-- Classes -->
  <o-row class="colapsiblesStyles">
    <o-column-collapsible fxFlex="95" title="{{ 'Client classes' | oTranslate }}" appearance="outline">
      <o-form-layout-manager mode="dialog" attr="formClasses" key="id_client_class;id_assing_room" show-header-navigation="no">
        <o-list #list attr="classesTable" keys="id_assing_room;id_client_class"
        columns="id_client;class_name;date;h_start" service="clientsClasses" entity="clientClass"
        quick-filter="true" quick-filter-columns="class_name;h_start" refresh-button="true" insert-button="true" insert-button-position="top" delete-button="true"
        selectable="true" dense="false" detail-button-in-row="dalse" detail-button-in-row-icon="chevron_right"
        edit-button-in-row="false" edit-button-in-row-icon="edit" detail-mode="none" parent-keys="id_client:id">

        <o-list-item *ngFor="let row of list.dataArray">
          <o-list-item-text #item title="{{ row.class_name }} - {{row.date | date}} - {{ row.h_start }}" fxFlex="40">
          </o-list-item-text>
        </o-list-item>
      </o-list>
      </o-form-layout-manager>
    </o-column-collapsible>
  </o-row>
</o-form>
