<o-form service="clients" entity="client" keys="id" header-actions="R;I;U;D" show-header-navigation="no">
    <o-text-input attr="id" sql-type="INTEGER" enabled="no"></o-text-input>
    <o-row>
      <o-column title-label="CLIENT_PERSONAL_INFORMATION" fxFlex>
        <o-column>
          <o-image id="CUSTOMER_PHOTO" attr="photo" empty-image="assets/images/no-image.png" ></o-image>
        </o-column>
        <o-row>
          <o-text-input class="input-padding" attr="name" title="NAME" fxFlex="40" required="yes"></o-text-input>
          <o-text-input class="input-padding" attr="lastname" title="LASTNAME" fxFlex="40" required="yes"></o-text-input>
          <o-text-input class="input-padding" attr="phone" title="PHONE" fxFlex="40" required="yes"></o-text-input>
          <o-date-input class="input-padding" attr="birthday" title="BIRTHDAY" fxFlex="40" required="yes"></o-date-input>
          <o-text-input class="input-padding" attr="dni" title="DNI" fxFlex="40" required="yes"></o-text-input>
          <o-combo attr="gender" label="Gender" [static-data]="genderArray" value-column="genderCode" columns="genderCode;genderText"
          visible-columns="genderText" required="yes" fxFlex>
        </o-combo>
        </o-row>
        <o-row>
          <o-email-input attr="email" title="EMAIL" fxFlex required="yes"></o-email-input>
        </o-row>
        <o-row>
          <o-date-input class="input-padding" attr="registration_date" title="REGISTRATION_DATE" fxFlex="40" required="yes"></o-date-input>
        </o-row>
        <o-row>
          <o-slide-toggle attr="active" title="ACTIVE" read-only="no" boolean-type></o-slide-toggle>
        </o-row>
      </o-column>
    </o-row>
  </o-form>
