<o-form service="clients" entity="client" keys="id" header-actions="R;I;U;D" show-header-navigation="no">
    <o-text-input attr="id" sql-type="INTEGER" enabled="no"></o-text-input>
    <o-row>
      <o-column title-label="CLIENT_PERSONAL_INFORMATION" fxFlex>
        <o-row>
          <o-text-input class="input-padding" attr="NAME" fxFlex="40" required="yes"></o-text-input>
          <o-text-input class="input-padding" attr="LASTNAME" fxFlex="40" required="yes"></o-text-input>
          <o-text-input class="input-padding" attr="PHONE" fxFlex="40" required="yes"></o-text-input>
          <o-date-input class="input-padding" attr="BIRTHDAY" fxFlex="40" required="yes"></o-date-input>
          <o-text-input class="input-padding" attr="DNI" fxFlex="40" required="yes"></o-text-input>
          <o-text-input class="input-padding" attr="GENDER" fxFlex="40" required="yes"></o-text-input>
        </o-row>
        <o-row>
          <o-email-input attr="EMAIL" fxFlex required="yes"></o-email-input>
        </o-row>
        <o-row>
          <o-date-input class="input-padding" attr="REGISTRATION_DATE" fxFlex="40" required="yes"></o-date-input>
        </o-row>
        <o-row>
          <o-text-input class="input-padding" attr="ACTIVE" fxFlex="40" required="yes"></o-text-input>
        </o-row>
      </o-column>
    </o-row>
  </o-form>
