.columPhoto{
    width: 200px;
    margin-top: 8px;
    margin-right: 20px;
}

.clientPhoto.o-image .o-image-content.o-image-auto-fit .o-image-display-container>img{
    max-width: 100%;
    max-height: 100%;
}

.birthdayDate{
    margin-top: 7px;
}

.colapsiblesStyles{
    margin-top: 10px;
    margin-bottom: 10px;
}

.subscriptionTime{
    margin-top: -7px;
}

