<o-form service="classes" entity="class" keys="id" header-actions="R;I;U;D" show-header-navigation="no">
    <o-row>
      <o-column title-label="CLASS_INFORMATION" fxFlex>
        <o-row>
          <o-text-input class="input-padding" attr="NAME" title="NAME" fxFlex="40" required="yes"></o-text-input>
        </o-row>
        <o-row>
            <o-text-input class="input-padding" attr="DESCRIPTION" title="DESCRIPTION" fxFlex required="yes"></o-text-input>
        </o-row>
      </o-column>
    </o-row>
  </o-form>
