


/* Height for devices larger than 992px */
@media (min-width: 992px) {
  #intro-example {
    height: 600px;
  }
}
#actDirigidas{
  padding-top: 3%;
  font-size:25px;
  padding-left: 15%;
  font-style: italic;
  font-weight: bolder;
  color:#ca0034;
  }
header{
  background-image: url("../../../assets/images/modelo-fitness.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card .mask {
  z-index: 10;
}

#homeTitle{
  font-family: 'Open Sans';
font-weight: 900;
font-size: 100px;
}
#homeSurTitle{
font-weight: 900;
font-size: 25px;
}

#h2HomeTitles{
  padding-bottom: 1%;
  padding-top: 3%;
  font-size:25px;
  padding-left: 15%;
  font-style: italic;
  font-weight: bolder;
  color: #ca0034;
  }
#mdTabsClass{
  padding-left: 25%;
  }
  #mdTabClass{
  color: white;
  }
  #className{
    font-style: initial;
    font-size: 20px;
    text-transform: uppercase;
  }
  #main{
    background-color: #ca0034;
    color:white;
  }
  #tableMethod{
    width: 100%;
  }
  td{
    padding-top: 3%;
    text-align: center;
    align-items: center;
  }
  .parafMeth{
    color:black;
    font-weight: bold;
    font-size: 20px;
  }
  #methodh3{
    padding-top: 2%;
    text-align: center;
    color:black;
    font-weight: bold;
  }

  .mdTabClass{
    color: white !important;
  }


#directedClassDiv{
  background-color:black;
}

footer{
  background-color: rgb(14, 14, 14);
}

#subPrices{
 background-color: black;
}

.tabs{

color:white !important;
}

.mat-tab-label{
  color:white !important;
}

.tablePrices{
  width: 400px;
  height: 100px;
  padding-left: 10%;
}



