// .intro {
//   height: 100%;
// }

// @media (min-height: 300px) and (max-height: 450px) {
//   .intro {
//     height: auto;
//   }
// }

.gradient-custom {
  background: #ca0034;
}
.login-bg-container {
  background-image: url('^assets/images/rutina-gimnasio.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height:874px;;
}


