<o-form service="classes" entity="class" keys="id" header-actions="R;I;U;D" show-header-navigation="no">
    <o-text-input attr="id" sql-type="INTEGER" enabled="no"></o-text-input>
    <o-row>
      <o-column title-label="CLASS_INFORMATION" fxFlex>
        <o-row layout-gap="15px">
          <o-text-input class="input-padding" attr="name" fxFlex="10" required="yes"></o-text-input>
          <o-text-input class="input-padding" attr="description" fxFlex="30" required="yes"></o-text-input>
        </o-row>
      </o-column>
    </o-row>
  </o-form>
