#three-container {
  z-index: -2;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  margin-top: -58.59px;
}

#intro {
  height: 100vh;
  margin-top: -58.59px;
  z-index: -1;
}
