<o-form service="roomsClasses" entity="roomClass" keys="id_room_class" header-actions="R;I;U;D" show-header-navigation="no">
  <o-text-input attr="id_room_class" sql-type="INTEGER" enabled="no" hidden="true"></o-text-input>
  <o-row layout-gap="15px">
      <o-combo #comboClass attr="id_class" label="comboClass" required="yes" value-column="id" query-method="query"
        service="classes" entity="class" columns="name" visible-columns="name" searchable="yes" keys="id" null-selection="no">
      </o-combo>
      <o-combo #comboRoom attr="id_room" label="comboRoom" required="yes" query-method="query" service="rooms"
        entity="room" value-column="id" columns="name" visible-columns="name" searchable="yes" keys="id" null-selection="no">
      </o-combo>
      <o-combo #comboMonitor attr="id_monitor" label="comboMonitor" required="yes" value-column="id" query-method="query"
        service="monitors" entity="monitor" columns="name;lastname;id" visible-columns="name;lastname;id" searchable="yes" keys="id" null-selection="no">
        <app-assign-classes-monitors-render></app-assign-classes-monitors-render>
      </o-combo>
  </o-row>
  <o-row layout-gap="15px">
    <o-date-input class="input-padding" attr="date" fxFlex required="yes"></o-date-input>
    <o-hour-input class="input-padding" attr="h_start" fxFlex required="yes" read-only="yes"></o-hour-input>
    <o-hour-input class="input-padding" attr="h_end" fxFlex required="yes" read-only="yes"></o-hour-input>
  </o-row>
  <o-row layout-gap="15px">
    <o-integer-input class="input-padding" attr="capacity" title="CAPACITY" min="0" required="yes" fxFlex="32.5"></o-integer-input>
  </o-row>
  <o-row class="colapsiblesStyles">
    <o-column-collapsible fxFlex title="{{ 'clients' | oTranslate }}" appearance="outline">
      <o-list #list attr="clientsTable" keys="id_assing_room;id_client_class" columns="client_name;lastname;dni;photo"
        service="clientsClasses" entity="clientClass" quick-filter="true" quick-filter-columns="client_name;lastname;dni"
        refresh-button="true" insert-button="false" delete-button="true" selectable="true" dense="false"
        insert-button-position="top" detail-button-in-row="false" detail-button-in-row-icon="chevron_right"
        edit-button-in-row="false" detail-mode="none" parent-keys="id_assing_room:id_room_class">
        <o-list-item *ngFor="let row of list.dataArray">
          <o-list-item-text #tem  title="{{ row.client_name }}" primary-text="{{ row.lastname }}" secondary-text="{{ row.dni }}">
          </o-list-item-text>
        </o-list-item>
      </o-list>
    </o-column-collapsible>
  </o-row>
</o-form>
