<o-form-layout-manager title="{{'CLASSES' | oTranslate }}" separator=" " mode="tab" label-columns="NAME">
    <div fxFill>
        <div fxFill fxLayout="column" fxLayoutAlign="start">
            <o-table fxFlex attr="classTable" service="classes" entity="class" keys="id"
                columns="id;name;description"
                visible-columns="id;name;description" query-rows="20">
                <o-table-column attr="id" title="ID" width="100px"></o-table-column>
                <o-table-column attr="name" title="NAME"></o-table-column>
                <o-table-column attr="description" title="DESCRIPTION"></o-table-column>
            </o-table>
        </div>
    </div>
</o-form-layout-manager>
