<style>
  /* Default height for small devices */
  #intro-example {
    height: 400px;
  }

  /* Height for devices larger than 992px */
  @media (min-width: 992px) {
    #intro-example {
      height: 600px;
    }
  }

  .card .mask {
    z-index: 10;
  }

  #actDirigidas{
    font-size:30px;
    padding-left: 15%;
    padding-bottom: 1%;
  }
  #mdTabClass{
    padding-left: 10%;
    }
    #className{
      font-style: initial;
      font-size: 20px;
      text-transform: uppercase;
    }
</style>
<header>
  <!-- Background image -->
  <div id="intro-example" class="p-5 text-center bg-image position-relative">
   <!-- <video class="position-absolute" style="min-width: auto; min-height:auto; left: 0; top: 0" playsinline autoplay
      muted loop>
      <source class="h-100" src="../assets/images/comba-girl.mp4" type="video/mp4" />
    </video> -->
    <img src="../../../assets/images/modelo-fitness.jpg" class="img-fluid"/>
    <div class="mask" style="background-color: rgba(0, 0, 0, 0)">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">Únete al método RyuKyu</h1>
          <h4 class="mb-4">Nuestra pasión es ayudarte a lograr tus objetivos</h4>
        <!--  <a class="btn btn-outline-light btn-lg m-2" href="https://www.youtube.com/watch?v=c9B4TPnak1A" role="button"
            rel="nofollow" target="_blank">Start tutorial</a>
          <a class="btn btn-outline-light btn-lg m-2" href="https://mdbootstrap.com/docs/standard/" target="_blank"
            role="button">Download MDB UI KIT</a> -->
        </div>
      </div>
    </div>

    <svg class="position-absolute" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" style="left: 0; bottom: 0">
      <path fill="#fff" d="M 0 297.33 L 1440 183.98 L 1440 320 L 0 320 Z"></path>
    </svg>
  </div>

  <!-- Background image -->
</header>

<main>
  <h2 id="actDirigidas"> Actividades dirigidas </h2>

<mdb-tabs id="mdTabClass" [vertical]="true">
  <mdb-tab *ngFor="let data of classesData; index as i; first as isFirst;" title={{data.NAME}}><p id="className">{{data.NAME}}</p>{{data.DESCRIPTION}}</mdb-tab>
</mdb-tabs>

</main>

