<style>
  /* Default height for small devices */
  #intro-example {
    height: 400px;
  }

  /* Height for devices larger than 992px */
  @media (min-width: 992px) {
    #intro-example {
      height: 600px;
    }
  }

  .card .mask {
    z-index: 10;
  }

  #actDirigidas{
    font-size:30px;
    padding-left: 15%;
    padding-bottom: 1%;
  }
</style>
<header>
  <!-- Background image -->
  <div id="intro-example" class="p-5 text-center bg-image position-relative">
   <!-- <video class="position-absolute" style="min-width: auto; min-height:auto; left: 0; top: 0" playsinline autoplay
      muted loop>
      <source class="h-100" src="../assets/images/comba-girl.mp4" type="video/mp4" />
    </video> -->
    <img src="../../../assets/images/modelo-fitness.jpg" class="img-fluid"/>
    <div class="mask" style="background-color: rgba(0, 0, 0, 0)">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">Únete al método RyuKyu</h1>
          <h4 class="mb-4">Nuestra pasión es ayudarte a lograr tus objetivos</h4>
          <a class="btn btn-outline-light btn-lg m-2" href="https://www.youtube.com/watch?v=c9B4TPnak1A" role="button"
            rel="nofollow" target="_blank">Start tutorial</a>
          <a class="btn btn-outline-light btn-lg m-2" href="https://mdbootstrap.com/docs/standard/" target="_blank"
            role="button">Download MDB UI KIT</a>
        </div>
      </div>
    </div>

    <svg class="position-absolute" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" style="left: 0; bottom: 0">
      <path fill="#fff" d="M 0 297.33 L 1440 183.98 L 1440 320 L 0 320 Z"></path>
    </svg>
  </div>

  <!-- Background image -->
</header>

<main>
  <h2 id="actDirigidas"> Actividades dirigidas </h2>



  <div class="container">

    <div class="row gx-lg-5">
      <div class="col-lg-4 mb-4 mb-lg-0" *ngFor="let classes of classesData; index as i;">
        <div class="card">
          <div class="bg-image hover-overlay ripple" data-ripple-color="light">
            <img src="https://mdbootstrap.com/img/new/standard/nature/117.jpg" class="img-fluid" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
            </a>

            <svg class="position-absolute" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"
              style="left: 0; bottom: 0">
              <path fill="#fff"
                d="M0,288L48,256C96,224,192,160,288,160C384,160,480,224,576,213.3C672,203,768,117,864,85.3C960,53,1056,75,1152,69.3C1248,64,1344,32,1392,16L1440,0L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
              </path>
            </svg>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{Classes.name}}</h5>
            <p class="card-text">
              {{Classes.description}}
            </p>
            <a href="#!" class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<section>
  <div class="row text-center">
    <div class="col-md-12">
      <!-- Carousel wrapper -->
      <div id="carouselBasicExample" class="carousel slide carousel-dark" data-mdb-ride="carousel">
        <!-- Inner -->
        <div class="carousel-inner">
          <!-- Single item -->
          <div class="carousel-item active">
            <div class="mt-5 mb-4">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
                class="rounded-circle img-fluid shadow-1-strong" alt="smaple image" width="100"
                height="100" />
            </div>
            <p class="text-muted mb-0">- Anna Morian</p>
          </div>

          <!-- Single item -->
          <div class="carousel-item">
            <p class="lead font-italic mx-4 mx-md-5">
              "Neque cupiditate assumenda in maiores repudiandae mollitia adipisci maiores
              repudiandae mollitia consectetur adipisicing architecto elit sed adipiscing
              elit."
            </p>
            <div class="mt-5 mb-4">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(31).webp"
                class="rounded-circle img-fluid shadow-1-strong" alt="smaple image" width="100"
                height="100" />
            </div>
            <p class="text-muted mb-0">- Teresa May</p>
          </div>

          <!-- Single item -->
          <div class="carousel-item">
            <p class="lead font-italic mx-4 mx-md-5">
              "Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
              dolore eu fugiat nulla pariatur est laborum neque cupiditate assumenda in
              maiores."
            </p>
            <div class="mt-5 mb-4">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp"
                class="rounded-circle img-fluid shadow-1-strong" alt="smaple image" width="100"
                height="100" />
            </div>
            <p class="text-muted mb-0">- Kate Allise</p>
          </div>
        </div>
        <!-- Inner -->

        <!-- Controls -->
        <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample"
          data-mdb-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample"
          data-mdb-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <!-- Carousel wrapper -->
    </div>
  </div>
</section>
